<section id="section1">
  <li class="top-btn">
    <label>Background Color:</label>
    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
      <%= f.select(:background_color, ColorList.new.full_list.sort, {}, {value: @art.background_color, class: 'form-select', onchange: 'this.form.submit()'}) %>
    <% end %>
  </li>
  <li class="top-btn">
    <label>Background Color Opacity:</label>
    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
      <%= f.select(:background_color_opacity, OpacityList.new.full_list, {}, {value: @art.background_color_opacity, class: 'form-select', onchange: 'this.form.submit()'}) %>
    <% end %>
  </li>
  <li class="top-btn">
    <label>Radial Gradient:</label>
    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
      <%= f.select(:radial_gradient, RadialList.new.full_list, {}, {value: @art.radial_gradient, class: 'form-select', onchange: 'this.form.submit()'}) %>
    <% end %>
  </li>

  <% if @art.radial_gradient != "none" %>
    <li class="top-btn">
      <label>Radial Gradient Color:</label>
      <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
        <%= f.select(:radial_gradient_color, ColorList.new.full_list.sort, {}, {value: @art.radial_gradient_color, class: 'form-select', onchange: 'this.form.submit()'}) %>
      <% end %>
    </li>
  <% end %>

  <li class="top-btn" style="border-bottom: 2px solid #B2BABB;padding-bottom: 20px;">
    <label for="cars">Size:</label>
    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
      <%= f.select(:width, SizeList.new.full_list, {}, {value: @art.width, class: 'form-select', onchange: 'this.form.submit()'}) %>
    <% end %>
  </li>

  <div class="additional-tools">
    <li class="top-btn">                 
      <%= form_with model: ArtText.new, html: {class: "input-form", autocomplete: "off"} do |f| %>
        <%= f.text_area :content, placeholder: "Add Text", class: "form-control", autocomplete: false %>
        <%= f.hidden_field :art_id, value: 1 %>
        <button class="btn btn-primary" style="background-color: #34495E;border: none;margin-top: 10px;padding: 6px 30px 6px 30px;font-size: 0.8rem !important;overflow: hidden;">
          <i class="fa-solid fa-font">&ensp;</i>Add Text
        </button>
      <% end %>
    </li>
    <% if ArtText.where(art_id: 1) != [] %>
      <li class="top-btn">               
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <%= f.text_area :content, value:@nav_art_text.content, class: "form-control" %>
          <button class="btn btn-primary" style="background-color: #34495E;border: none;margin-top: 10px;padding: 6px 30px 6px 30px;font-size: 0.8rem !important;overflow: hidden;">
            <i class="fa-solid fa-square-pen">&ensp;</i>Edit Text
          </button>
        <% end %>
      </li>
      <li>
        <h6>Curved Text:</h6>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <%= f.select(:curve, [["Disable", false], ["Enable", true]], {}, {value: @nav_art_text.curve, class: 'form-select', onchange: 'this.form.submit()'}) %>
        <% end %>

        <% if @nav_art_text.curve == true %>
          <h6>View Box:</h6>
          <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
            <%= f.select(:view_box, [["Normal", "0 0 600 600"], ["Small", "0 0 1000 1000"], ["large", "50 20 400 400"]], {}, {value: @nav_art_text.view_box, class: 'form-select', onchange: 'this.form.submit()'}) %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </div>
</section>
