<div 
  style="
    padding-top: <%= art_text.padding_top %>vw;
    padding-left: <%= art_text.padding_left %>vw;
    transform: <%= @art_text.transform %>;
  "
>
  <span 
    style="
      font-family: <%= @art_text.font_family %>;
      font-style: <%= @art_text.font_style %>;
      font-weight: <%= @art_text.font_weight %>;
      text-decoration: <%= @art_text.text_decoration %>;
      font-size: <%= @art_text.size %>;
      color: <%= @art_text.color %>;
      background-color: <%= @art_text.background %>;
      padding: <%= @art_text.background_padding %>vw;
      border-radius: <%= @art_text.border_radius %>;
      line-height: <%= @art_text.line_height %>vw;
      letter-spacing: <%= @art_text.letter_spacing %>vw;
      text-shadow: <%= @art_text.text_shadow %>px <%= @art_text.text_shadow %>px <%= @art_text.text_shadow %>px <%= @art_text.text_shadow_color %>;
    "
    id="text_element"
    type="button"
    onclick="navigationFunction()"
  >
    <%= art_text.content %>
  </span>
  <div class="navigation_button_container dropdown" id="navigationArea">
    <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
      <% if @art_text.padding_top == 1 || @art_text.padding_top == 2 || @art_text.padding_top == 3 %>
        <%= f.hidden_field :padding_top, :value => @art_text.padding_top - 1 %>
        <button type="submit" class="navigation_button_1">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
      <% else %>
        <%= f.hidden_field :padding_top, :value => @art_text.padding_top - @art_text.padding_size_button %>
        <button type="submit" class="navigation_button_1">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
      <% end %>
    <% end %>
    <div class="side_elements">
      <%= form_for @art_text, url: "/art_texts/index", method: :patch, html: {class: "form-button-element"} do |f| %>
        <% if @art_text.padding_top == 1 || @art_text.padding_top == 2 || @art_text.padding_top == 3 %>
          <%= f.hidden_field :padding_left, :value => @art_text.padding_left - 1 %>
          <button type="submit" class="navigation_button_2">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
        <% else %>
          <%= f.hidden_field :padding_left, :value => @art_text.padding_left - @art_text.padding_size_button %>
          <button type="submit" class="navigation_button_2">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
        <% end %>
      <% end %>
      <%= form_for @art_text, url: "/art_texts/index", method: :patch, html: {class: "form-button-element"} do |f| %>
        <%= f.hidden_field :padding_left, :value => @art_text.padding_left + @art_text.padding_size_button %>
        <button type="submit" class="navigation_button_3">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      <% end %>
    </div>
    <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
      <% if @art_text.padding_top == 33 || @art_text.padding_top == 34 || @art_text.padding_top == 35 %>
        <%= f.hidden_field :padding_top, :value => @art_text.padding_top + 1 %>
        <button type="submit" class="navigation_button_4">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
      <% else %>
        <%= f.hidden_field :padding_top, :value => @art_text.padding_top + @art_text.padding_size_button %>
        <button type="submit" class="navigation_button_4">
          <i class="fa-solid fa-arrow-down"></i>
        </button>
      <% end %>
    <% end %>
    <span class="padding-size-button dropdown-content">
      <% if @art_text.padding_size_button == 1 %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 1 %>
          <button type="submit" class="padding-button-element2">x1</button><br>
        <% end %>
      <% else %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 1 %>
          <button type="submit" class="padding-button-element">x1</button><br>
        <% end %>
      <% end %>
      <% if @art_text.padding_size_button == 2 %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 2 %>
          <button type="submit" class="padding-button-element2">x2</button><br>
        <% end %>
      <% else %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 2 %>
          <button type="submit" class="padding-button-element">x2</button><br>
        <% end %>
      <% end %>
      <% if @art_text.padding_size_button == 3 %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 3 %>
          <button type="submit" class="padding-button-element2">x3</button><br>
        <% end %>
      <% else %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 3 %>
          <button type="submit" class="padding-button-element">x3</button><br>
        <% end %>
      <% end %>
      <% if @art_text.padding_size_button == 4 %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 4 %>
          <button type="submit" class="padding-button-element2">x4</button><br>
        <% end %>
      <% else %>
        <%= form_for @art_text, url: "/art_texts/index", method: :patch do |f| %>
          <%= f.hidden_field :padding_size_button, :value => 4 %>
          <button type="submit" class="padding-button-element">x4</button><br>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
