<% @art_texts.each do |art_text| %>
  <% if art_text.curve == false %>
    <span 
      style="
        margin-top: <%= art_text.margin_top %>vw;
        margin-left: <%= art_text.margin_left %>vw;
        font-family: <%= art_text.font_family %>;
        font-style: <%= art_text.font_style %>;
        font-weight: <%= art_text.font_weight %>;
        font-size: <%= art_text.size %>;
        color: <%= art_text.color %>;
        -webkit-text-stroke: <%= art_text.stroke_width %>px <%= art_text.stroke_color %>;
        background-color: <%= art_text.background %>;
        padding: <%= art_text.background_padding %>vw;
        border-radius: <%= art_text.border_radius %>;
        line-height: <%= art_text.line_height %>vw;
        letter-spacing: <%= art_text.letter_spacing %>vw;
        transform: rotate(<%= art_text.transform %>deg);
        text-shadow: <%= art_text.text_shadow %>px <%= art_text.text_shadow %>px <%= art_text.text_shadow %>px <%= art_text.text_shadow_color %>;
      "
      id="text_element"
    >
      <%= form_for @selected_text, url: "/selected_texts/index", method: :patch do |f| %>
        <%= f.hidden_field :art_text_id, value: art_text.id %>
        <button type="submit" class="remove-button-styling" style="text-decoration: <%= art_text.text_decoration %>;"><%= art_text.content %></button>
      <% end %>
    </span>
  <% else %>
    <%= form_for @selected_text, url: "/selected_texts/index", method: :patch, html: {id: "form-id"} do |f| %>
      <%= f.hidden_field :art_text_id, value: art_text.id %>
      <svg viewBox="<%= art_text.view_box %>" style="margin-top: <%= art_text.margin_top %>vw;margin-left: <%= art_text.margin_left %>vw;position: absolute;z-index: 0;">
        <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
        <text 
          style="
            font-family: <%= art_text.font_family %>;
            font-style: <%= art_text.font_style %>;
            font-weight: <%= art_text.font_weight %>;
            text-decoration: <%= art_text.text_decoration %>;
            font-size: <%= art_text.size %>;
            fill: <%= art_text.color %>;
            stroke: <%= art_text.stroke_color %>;
            stroke-width: <%= art_text.stroke_width %>;
            padding: <%= art_text.background_padding %>vw;
            border-radius: <%= art_text.border_radius %>;
            line-height: <%= art_text.line_height %>vw;
            letter-spacing: <%= art_text.letter_spacing %>vw;
            transform: rotate(<%= art_text.transform %>deg);
            text-shadow: <%= art_text.text_shadow %>px <%= art_text.text_shadow %>px <%= art_text.text_shadow %>px <%= art_text.text_shadow_color %>;
          "
          id="text_element"
        >
          <textPath xlink:href="#curve" type="button" onclick="document.getElementById('form-id').submit();">
            <%= art_text.content %>
          </textPath>
        </text>
      </svg>
    <% end %>
  <% end %>
<% end %>
