<section id="section2">
  <% if ArtText.where(art_id: 1) != [] %>
    <ul>
      <li class="top-btn">
        <label>Text Background Opacity:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:background_opacity, OpacityList.new.full_list, {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).background_opacity, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Text Background Padding:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:background_padding, [["Small", 0.5], ["Normal", 1], ["Average", 1.5], ["Above-Average", 2], ["Big", 3], ["Huge", 4], ["Extra-Huge", 5]], {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).background_padding, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Background Border Radius:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:border_radius, BorderRadiusList.new.full_list, {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).border_radius, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Line Height:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:line_height, [["Normal", 3], ["Medium", 6], ["Big", 9], ["Extra-Big", 12]], {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).line_height, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Letter Spacing:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:letter_spacing, [["Normal", 0.2], ["Medium", 0.4], ["Big", 0.6], ["Extra-Big", 0.8]], {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).letter_spacing, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Text Shadow:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:text_shadow, [["None", 0], ["Normal", 2], ["Medium", 6], ["Heavy", 9]], {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).text_shadow, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Text Shadow Colour:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:text_shadow_color, ColorList.new.full_list, {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).text_shadow_color, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Text Shadow Colour Opacity:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:text_shadow_color_opacity, OpacityList.new.full_list, {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).text_shadow_color_opacity, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
      <li class="top-btn">
        <label>Text Shadow Colour Opacity:</label>
        <%= form_for @nav_art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
          <div style="display: flex;">
            <%= f.select(:curve, [["Disable", false], ["Enable", true]], {}, {value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).curve, class: 'form-select', onchange: 'this.form.submit()'}) %>
          </div>
        <% end %>
      </li>
    </ul>
  <% end %>
</section>
