<div class="art-container">
  <section class="art-section">
    <div class="row" >

      <div class="col-12 col-md-8 image-section">
        <%
          case @art.width
          when 1350
            my_width = 60
            my_height = 40
          when 1050
            my_width = 45
            my_height = 30
          when 750
            my_width = 30
            my_height = 20
          when 900
            my_width = 40
            my_height = 40
          when 700
            my_width = 30
            my_height = 30
          when 500
            my_width = 20
            my_height = 20
          else
            my_width = 60
            my_height = 40
          end
        %>
        <div id="canvas" class="center" 
        <% if @art.radial_gradient == "none" %>
          style="background-color: <%= @art.background_color %>;width: <%= my_width %>vw; height: <%= my_height %>vw;"
        <% elsif @art.radial_gradient == "centered" %>
          style="width: <%= my_width %>vw; height: <%= my_height %>vw; background: radial-gradient(<%= @art.background_color %>, <%= @art.radial_gradient_color %>);"
        <% else %>
          style="width: <%= my_width %>vw; height: <%= my_height %>vw;background: radial-gradient(ellipse at top, <%= @art.background_color %>, transparent), 
          radial-gradient(ellipse at bottom, <%= @art.radial_gradient_color %>, transparent);"
        <% end %>
        >


          <!-- <img src="/assets/icons/star.png" style="position: relative;z-index: 999;width: 400px;height: auto;"> -->

          <!-- <p>Weeeeeeeeeeeeeeeeeeee</p> -->
        </div>
      </div>

      <div class="col-12 col-md-4 assets-section">
        <div class="row">
          <div class="col-12">
            <ul class="info-section">
              <div class="button-section">
                <button class="button-element-active" id="select_input1">Background</button>
                <button class="button-element" id="select_input2">Text</button>
                <button class="button-element" id="select_input3">Icons</button>
                <button class="button-element" id="select_input4">Photos</button>
              </div>

              <section id="section1">
                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-rotate-left"></i>&ensp;Undo</button>
                  <button class="btn btn-primary top-btn">Redo&ensp;<i class="fa-solid fa-rotate-right"></i></button>
                </li>
                <li class="top-btn">
                  <label>Background Color:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:background_color, ColorList.new.full_list, {}, {value: @art.background_color, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <label>Background Color Opacity:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:background_color_opacity, OpacityList.new.full_list, {}, {value: @art.background_color_opacity, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <label>Radial Gradient:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:radial_gradient, RadialList.new.full_list, {}, {value: @art.radial_gradient, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-bucket"></i>Change</button>
                    </div>
                  <% end %>
                </li>

                <% if @art.radial_gradient != "none" %>
                  <li class="top-btn">
                    <label>Radial Gradient Color:</label>
                    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                      <div style="display: flex;">
                        <%= f.select(:radial_gradient_color, ColorList.new.full_list, {}, {value: @art.radial_gradient_color, class: 'form-select'}) %>
                        <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill-drip"></i>Change</button>
                      </div>
                    <% end %>
                  </li>
                <% end %>

                <li class="top-btn">
                  <label for="cars">Size:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:width, SizeList.new.full_list, {}, {value: @art.width, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-ruler"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-brands fa-firstdraft"></i>&ensp;Save Draft</button>
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-floppy-disk"></i>&ensp;Save</button>
                </li>
              </section>

              <section id="section2">
                <h4>This Is Section 2</h4>
              </section>

              <section id="section3">
                <h4>This Is Section 3</h4>
              </section>

              <section id="section4">
                <h4>This Is Section 4</h4>
              </section>


            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>
