<div class="art-container">
  <section class="art-section">
    <div class="row" >

      <div class="col-12 col-md-8 image-section">
        <%
          case @art.width
          when 1350
            my_width = 60
            my_height = 40
          when 1050
            my_width = 45
            my_height = 30
          when 750
            my_width = 30
            my_height = 20
          when 900
            my_width = 40
            my_height = 40
          when 700
            my_width = 30
            my_height = 30
          when 500
            my_width = 20
            my_height = 20
          else
            my_width = 60
            my_height = 40
          end
        %>
        <div id="canvas" class="center" 
          <% if @art.radial_gradient == "none" %>
            style="background-color: <%= @art.background_color %>;width: <%= my_width %>vw; height: <%= my_height %>vw;"
          <% elsif @art.radial_gradient == "centered" %>
            style="width: <%= my_width %>vw; height: <%= my_height %>vw; background: radial-gradient(<%= @art.background_color %>, <%= @art.radial_gradient_color %>);"
          <% else %>
            style="width: <%= my_width %>vw; height: <%= my_height %>vw;background: radial-gradient(ellipse at top, <%= @art.background_color %>, transparent), 
            radial-gradient(ellipse at bottom, <%= @art.radial_gradient_color %>, transparent);"
          <% end %>
        >
          <div style="word-wrap:break-word;width: <%= my_width - 0.5 %>vw;height: <%= my_height - 0.5 %>vw;">
            <%= render 'text_content' %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 assets-section">
        <div class="row">
          <div class="col-12">
            <ul class="info-section">
              <div class="button-section">
                <button class="button-element-active" id="select_input1">Background</button>
                <button class="button-element" id="select_input2">Text</button>
                <button class="button-element" id="select_input3">Icons</button>
                <button class="button-element" id="select_input4">Photos</button>
              </div>
              <div style="padding: 10px;text-align:center;">
                <% flash.each do |type, msg| %>
                  <%= content_tag :div, msg, class: build_alert_classes(type) %>
                <% end %>
              </div>
              <%= render 'background_detail' %>
              <%= render 'text_detail' %>
              <%= render 'icon_detail' %>
              <%= render 'photo_detail' %>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>
