<div class="art-container">
  <section class="art-section">
    <div class="row" >

      <div class="col-12 col-md-8 image-section">
        <%
          case @art.width
          when 1350
            my_width = 60
            my_height = 40
          when 1050
            my_width = 45
            my_height = 30
          when 750
            my_width = 30
            my_height = 20
          when 900
            my_width = 40
            my_height = 40
          when 700
            my_width = 30
            my_height = 30
          when 500
            my_width = 20
            my_height = 20
          else
            my_width = 60
            my_height = 40
          end
        %>
        <div id="canvas" class="center" 
        <% if @art.radial_gradient == "none" %>
          style="background-color: <%= @art.background_color %>;width: <%= my_width %>vw; height: <%= my_height %>vw;"
        <% elsif @art.radial_gradient == "centered" %>
          style="width: <%= my_width %>vw; height: <%= my_height %>vw; background: radial-gradient(<%= @art.background_color %>, <%= @art.radial_gradient_color %>);"
        <% else %>
          style="width: <%= my_width %>vw; height: <%= my_height %>vw;background: radial-gradient(ellipse at top, <%= @art.background_color %>, transparent), 
          radial-gradient(ellipse at bottom, <%= @art.radial_gradient_color %>, transparent);"
        <% end %>
        >

          <div style="padding: 2% 2% 2% 2%;word-wrap:break-word;width: <%= my_width - 0.5 %>vw;height: <%= my_height - 0.5 %>vw;">
            <% @art_texts.each do |art_text| %>
              <span style="background-color: blue;padding: 0.5vw 1vw 0.5vw 1vw;color: #fff;"><%= art_text.content %></span>
            <% end %>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-4 assets-section">
        <div class="row">
          <div class="col-12">
            <ul class="info-section">
              <div class="button-section">
                <button class="button-element-active" id="select_input1">Background</button>
                <button class="button-element" id="select_input2">Text</button>
                <button class="button-element" id="select_input3">Icons</button>
                <button class="button-element" id="select_input4">Photos</button>
              </div>

              <div style="padding: 10px;text-align:center;">
                <% flash.each do |type, msg| %>
                  <%= content_tag :div, msg, class: build_alert_classes(type) %>
                <% end %>
              </div>

              <section id="section1">
                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-rotate-left"></i>&ensp;Undo</button>
                  <button class="btn btn-primary top-btn">Redo&ensp;<i class="fa-solid fa-rotate-right"></i></button>
                </li>
                <li class="top-btn">
                  <label>Background Color:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:background_color, ColorList.new.full_list, {}, {value: @art.background_color, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <label>Background Color Opacity:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:background_color_opacity, OpacityList.new.full_list, {}, {value: @art.background_color_opacity, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <label>Radial Gradient:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:radial_gradient, RadialList.new.full_list, {}, {value: @art.radial_gradient, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-bucket"></i>Change</button>
                    </div>
                  <% end %>
                </li>

                <% if @art.radial_gradient != "none" %>
                  <li class="top-btn">
                    <label>Radial Gradient Color:</label>
                    <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                      <div style="display: flex;">
                        <%= f.select(:radial_gradient_color, ColorList.new.full_list, {}, {value: @art.radial_gradient_color, class: 'form-select'}) %>
                        <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-fill-drip"></i>Change</button>
                      </div>
                    <% end %>
                  </li>
                <% end %>

                <li class="top-btn">
                  <label for="cars">Size:</label>
                  <%= form_for @art, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>
                    <div style="display: flex;">
                      <%= f.select(:width, SizeList.new.full_list, {}, {value: @art.width, class: 'form-select'}) %>
                      <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;"><i class="fa-solid fa-ruler"></i>Change</button>
                    </div>
                  <% end %>
                </li>
                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-brands fa-firstdraft"></i>&ensp;Save Draft</button>
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-floppy-disk"></i>&ensp;Save</button>
                </li>
              </section>

              <section id="section2">
                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-rotate-left"></i>&ensp;Undo</button>
                  <button class="btn btn-primary top-btn">Redo&ensp;<i class="fa-solid fa-rotate-right"></i></button>
                </li>

                <% if ArtText.where(art_id: 1) == [] %>
                  <li class="top-btn">
                    <label for="cars">Add Text:</label>                    
                    <%= form_with model: ArtText.new, html: {class: "input-form", autocomplete: "off"} do |f| %>
                      <div style="display: flex;">
                        <%= f.text_field :content, placeholder: "Enter Input Text", class: "form-control", autocomplete: false %>
                        <%= f.hidden_field :art_id, value: 1 %>
                        <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;">Add Text</button>
                      </div>
                    <% end %>
                  </li>
                <% else %>
                  <li class="top-btn">
                    <label for="cars">Add Text:</label>                    
                    <%= form_with model: ArtText.new, html: {class: "input-form", autocomplete: "off"} do |f| %>
                      <div style="display: flex;">
                        <%= f.text_field :content, placeholder: "Enter Input Text", class: "form-control", autocomplete: false %>
                        <%= f.hidden_field :art_id, value: 1 %>
                        <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;">Add Text</button>
                      </div>
                    <% end %>
                  </li>
                  <li class="top-btn">
                    <label for="cars">Select Text To Edit:</label>
                    <% if @selected_text != nil %>
                      <%# form_for @selected_text, url: {action: "update"}, html: {class: "select-dropdown"} do |f| %>

                      <%= form_for @selected_text, url: "/selected_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
                        <div style="display: flex;">
                          <%= f.select :art_text_id, @art_texts.collect {|art_text| [art_text.content[0, 15]..., art_text.id]}, {:include_blank => false}, {:class => "form-select"} %>
                          <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;">Select</button>
                        </div>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="top-btn">
                    <h6>EDIT TEXT</h6>
                    <label for="cars">Content:</label>                    
                    <%= form_for @art_text, url: "/art_texts/index", method: :patch, html: {class: "select-dropdown"} do |f| %>
                      <div style="display: flex;">
                        <%= f.text_field :content, value: ArtText.find_by_id((SelectedText.find_by_art_id(1)).art_text_id).content, class: "form-control" %>
                        <button class="btn btn-primary" style="margin-left: 1vw;background-color: #34495E;border: none;">Edit</button>
                      </div>
                    <% end %>
                  </li>
                <% end %>

                <li class="top-btn">
                  <button class="btn btn-primary top-btn"><i class="fa-brands fa-firstdraft"></i>&ensp;Save Draft</button>
                  <button class="btn btn-primary top-btn"><i class="fa-solid fa-floppy-disk"></i>&ensp;Save</button>
                </li>
              </section>

              <section id="section3">
                <h4>This Is Section 3</h4>
              </section>

              <section id="section4">
                <h4>This Is Section 4</h4>
              </section>


            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>
